<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--<link rel="stylesheet" type="text/css" href="./search.css" />-->

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'search.css' %}" />

    <title>HomePage</title>
  </head>
  <body class="body">
    <div class="navbar">Sync</div>
    <div class="flex">
      <h1>Search for a Room</h1>

      <form action="{% url 'search_results' %}" method="get" class="search_box">
        <input
          name="q"
          type="text"
          placeholder="Search room name or genre..."
          class="search_bar"
        />
        <input type="submit" value="Search for Room" class="search_button" />
      </form>
    </div>
  </body>
</html>
